<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="ISO-8859-1">
    <title>STEGARI VOLUNTARI!</title>
</head>

<body>
<div class="logout">
    <form th:action="@{/logout}" method="post">
        <p>
        Hello, <div sec:authentication="name"></div>, this is index page
        </p>
        <input type="submit" value="Sign Out" />
    </form>
</div>

<h1>Testing </h1> <a th:href="@{/users-control-panel}">USERS_CONTROL_PANEL</a>

</body>
</html>