<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>STEGARI VOLUNTARI!</title>
</head>
<body>

<div class="register-form">
    <h1>&#206nregistreaz&#259-te</h1>
    <form th:action="@{/process_register}" th:object="${user}" th:method="post">

        <div classs ="text-field">
        <br><label for="name"></label><br>
        <input type="text" id="name" th:name="name" placeholder="Nume" required minlength="3">
        <br><label for="email"></label><br>
        <input type="email" id="email" th:name="email" placeholder="Email">
        <br><label for="password"></label><br>
        <input type="password" id="password" th:name="password" placeholder="Parola" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}"
               title="Parola trebuie s&#259 con&#355in&#259 minim 5 caractere(minim o liter&#259 mare, o liter&#259 mic&#259, &#351i o cifr&#259)"><br>
        </div>

        <div class = "submit">
            <a th:ref="@{/register_success}">
                <input type="submit" name="submit" value="Submit">
            </a>
        </div>

    </form>
</div>
</body>
</html>
