<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>STEGARI VOLUNTARI!</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <link th:href="@{/css/register.css}" rel="stylesheet">
</head>
<body>
<div class="header-image">
    <img src="/images/loginIMG.png" alt="Imagine Header">
</div>

<div class="register-box">
    <h2>&#206nregistreaz&#259-te</h2>
    <form th:action="@{/authentication/register/process}" th:object="${user}" th:method="post">

        <div class ="user-box">
            <input type="text" name="name" required="">
            <label>Name</label>
        </div>

        <div class="user-box">
            <input type="email" name="email" required="">
            <label>Email</label>
        </div>

        <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
        </div>

        <div class="submit-box">
            <button type="submit" class="submit-button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </button>
        </div>
    </form>
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>
</div>
</body>
</html>