<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>STEGARI VOLUNTARI!</title>
</head>
<body>

<table class="users_table">
    <thead>
    <tr>
        <th>User ID</th>
        <th>Email</th>
        <th>Role</th>
        <th th:if="${#authorization.expression('hasAuthority(''Moderator'')')}">Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user: ${listUsers}">
        <td th:text="${user.id}">User ID</td>
        <td th:text="${user.email}">Email</td>
        <td th:text="${user.role}">Role</td>

        <td th:if="${#authorization.expression('hasAuthority(''Moderator'')')}">
            <span th:if="${user.role.name == 'Admin'}">
                <a th:href="@{/retrieve-admin/{id}(id=${user.id})}">Retrieve Admin</a>
            </span>
            <span th:if="${user.role.name != 'Admin'}">
                <a th:href="@{/give-admin/{id}(id=${user.id})}">Give Admin</a>
            </span>
        </td>
        <td><a th:href="@{/delete-user/{id}(id=${user.id})}"> Delete User</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>
